<div class="about-wrapper">
  <h2>Bem-vindo(a)!</h2>
  <div class="text">
    <ol>
      <li>
        <p>
          Esse site foi construído usando a tecnologia Angular
          com foco em estudar o framework, e um projeto simples,

          É importante ressaltar que este projeto é voltado exclusivamente para fins educacionais e de aprendizado.
        </p>
      </li>
      <li>
        <p>
          This site was built using Angular technology with a focus on studying the framework, and a simple project.

          It is important to note that this project is aimed exclusively at educational and learning purposes.This site was built using Angular technology with a focus on studying the framework, and a simple project. It is important to note that this project is aimed exclusively at educational and learning purposes.
        </p>
      </li>
    </ol>
    <div class="link">
      <a href="https://github.com/cezardev07/spa-using-angular" target="_blank" rel="noopener noreferrer">você pode acessar o código fonte através desse link</a>
    </div>
  </div>
</div>
