<header>
  <nav>
    <div class="logo">
      <a href="#" target="_blank" rel="noopener noreferrer">docs</a>
    </div>
    <ul>
      <button [routerLink]="['']" >imagens</button>
      <button [routerLink]="['about']" >about</button>
      <a href="#" target="_blank" rel="noopener noreferrer">github</a>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<div class="cookies {{classToggle}}">
  <div class="text">
    <p>Ao clicar em "Aceitar todos os cookies", concorda com o armazenamento de cookies no seu dispositivo para melhorar a navegação no site, analisar a utilização do site e ajudar nas nossas iniciativas de marketing.</p>
  </div>
  <div class="buttons-wrapper">
    <button class="btn-definition" (click)="toggle()">Definição de cookies</button>
    <button (click)="toggle()">Aceitar todos os cookies</button>
  </div>
</div>

<footer>
  <p>
    <a href="#" target="_blank" rel="noopener noreferrer">
      Cezar Pereira
    </a> © Todos direitos reservados.
  </p>
</footer>
